<h1 class ="scroller">* Welcome to the Training Page * </h1>

<!-- <div ng-include src="'./partials/auth-form.html'"></div> -->

<div class="prompt">{{prompt}}</div>

<form ng-submit="submitData(formData)" >
    <!-- // control -->
    <ul class="trainList">
        <li>
            <ul class= "seshName">
                <li> 
                    <input type= "text"  ng-model="trainName" placeholder = "Cat Name Here">
                </li>
                <li>
                    <button class="formBtn"ng-click="saveNewSession()">save category</button>
                </li>    
            </ul>
               
        </li>
        <li>
            <div>Your current session is {{sessionName}} </div>
            <div class="trainListItem" ng-click="deleteSet()"> Delete</div>
            <div class="trainListItem" ng-click="exitTraining()">  Exit  </div>
            <div class="trainListItem" ng-click="goToResults()">Go To My Results for {{yes}} yes's and {{no}} no's</div>
            <div class="trainListItem" ng-click="home()">Go To Home</div>
            
        </li>
        <li>
            <div>
                <div ng-click="load()" class="parameterHeader"> Category Sets</div>
                    <ul class= "setCollection">
                        <li class="setName"ng-repeat= "set in sets">
                            <div class="trainListItem" id ={{set.id}} ng-click="setCurrentId(set)">{{set.name}}</div>
                        </li>
                    </ul>
            </div>   
        </li>
    </ul>
           <!-- //image control -->
    <div class= "controls">
            zoom      <input class="slider" type= "range"  id ="zoom" ng-model= "zoomAmt" ng-change= "zoom(zoomAmt)" min= "-2"  max= "2">
            choose color  <input type="color" value="#00FFFF" ng-model= "colorAmt" ng-change= "colorSet(colorAmt)" id="inputColor"> </li>
    </div> 
</form>


<div class="controls">
    <ul></ul>
    <button class="formBtn"ng-click="dislike()">this doesnt fit my category</button>
    <button class="formBtn"ng-click="like()">this fits my category</button>
    <button class="formBtn"ng-click="reset()">neither show me a different one</button>
</div>
  



