body {
    background-color: black;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
}
.controls {
  // margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin: 2em;
}
////NAV ITEMS
.Nav{
  list-style: none;
  display: flex;
  justify-content: center;
}
.Nav li{
 margin:auto;
}
.navItem:hover {
  color: rgb(255, 0, 242);
  
}
.trainListItem:hover {
  color: rgb(255, 0, 242);
}


//SCROLLING HEADER
.scroller{
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
 
    to {
      margin-left: -40%;
      width: -300%;
    }
  }


////TRAIN ITEMS
.trainList{
    list-style: none;
    display: flex;
    justify-content: center;
}
.trainList li{
    margin: auto;
}  
.setCollection {
  text-align: left;
  list-style: none;
}
.prompt{
    color: rgb(255, 0, 242);
    background-color: transparent;
    text-align: center;

    

}
////BUTTONS
.formBtn{
    border: 2px solid  aqua;
    background-color: black;
    color: aqua;
    font-family: 'Orbitron', sans-serif;
    margin: .5em;
}
.formBtn:hover {
    background-color: aqua;
    color: black;
    font-family: 'Orbitron', sans-serif;
}
.formBtn:focus{
    outline:none;
}
.seshName{
    list-style: none;
}
.seshName li{
    list-style: none;
}
////INPUT
input[type=text] {
    border: 2px solid  aqua;
    background-color: black;
    color: aqua;
}
input[type=text]:hover {
  border: 2px solid  aqua;
  background-color: aqua;
  color: black;
}
input[type=text]:focus {
 outline:none;
}
input[type=password] {
  border: 2px solid  aqua;  
  background-color: black;
  color: aqua;
}
input[type=password]:hover {
  border: 2px solid  aqua;
  background-color: aqua;
  color: black;
}



////COLOR
.imageControls{
  justify-content: center;
  list-style: none;
  display: flex;
  margin: .5em;
}
input[type=color] {
  border: none;
  background-color: black;
  color: aqua;
}
input[type=color]:focus {
  outline: .25em solid aqua;
  background-color: black;
}
input[type=color]:hover {
  outline: .25em solid rgb(255, 0, 242);
  background-color: transparent;
}

input::-webkit-input-placeholder {
  font-family: 'Orbitron', sans-serif;  
  color:aqua;
}
input:hover::-webkit-input-placeholder {
  color:black;
}


/////////SLIDER
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: .25em;
  width: 10em;
  
  // background: rgba(187, 183, 241, 0);
  background: aqua;
  outline: none;
  -webkit-transition: .2s;  
}
.slider:hover {
  opacity: 1;
  background: rgb(255, 0, 242);
  transition: opacity .2s;  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background: aqua;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: .9em;
  height: .9em;
  background:  aqua;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover { 
  background: rgb(255, 0, 242);
  transition: background 1s;
  cursor: pointer;
}
.slider::-moz-range-thumb:hover {
  width: .9em;
  height: .9em;
  // background:  rgb(255, 0, 242);
  cursor: pointer;
}